@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: "Lato";
    min-height: 100vh;
    background-color: #FFC5D3;
}

h1 {
    font-family: "Press Start 2P";
    text-align: center;
}

.title {
    margin: 10px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    font-weight: 700;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 30px;
}

.display-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    font-weight: 900;
}

.display-image {
    width: 150px;
    height: 150px;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 8px;
    padding: 24px;
    background-color: #FED99B;
    gap: 12px;
}

.player-image {
    width: 150px;
    height: 150px;
}

.player-button {
    background-color: #D6EFFF;
    border-style: dashed;
    border-radius: 8px;
    padding: 6px;
}